<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信箱驗證</title>
</head>

<body>
    <h1>你的信箱已驗證已過期！該帳號已被註銷，請重新註冊，謝謝！</h1>
</body>

</html>